{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'market/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    {% block content %}
            <div>
                <h1>{{ article.name }}</h1>
                <div><img src="../{{ article.picture.url }}" height="350px" style="display: inline-block;"/></div>
                <div style="display: inline-block;">{{ article.text|safe }}</div>
            </div>
            <h2>Продукты в этой статье:</h2>
            {% for product in featured_products %}
                <div class="product_cat">
                    <h1 class="product_name" style="font-size: 2em;">
                        <a href="{% url 'product_full' product.id %}">{{ product.brand }} {{ product.model }}</a>
                    </h1>
                <div><img src="../{{ product.picture.url }}" height="130px" /></div>
                </div>
            {% endfor %}
    {% endblock %}
</body>
</html>