{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'market/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Russo+One&display=swap" rel="stylesheet">
</head>
<body>
    {% block content %}
    {% endblock %}
    <div class="footer">
        <a href="{% url 'login' %}">Логин</a> &lt;&lt;&gt;&gt;&nbsp;
        <a href="{% url 'signup' %}">Зарегистрироваться</a> &lt;&lt;&gt;&gt;&nbsp;
        <a href="{% url 'logout' %}">Выйти</a> &lt;&lt;&gt;&gt;&nbsp;
        <a href="{% url 'home' %}">Домой</a> &lt;&lt;&gt;&gt;&nbsp;
        <a href="{% url 'cart' %}">Корзина</a>
    </div>
</body>
</html>