{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'market/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Russo+One&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="top_menu">
        <div class="top_menu_left">
            <a class="menu_button" href="{% url 'home' %}">Главная</a>
            <a class="menu_button" href="{% url 'catalogue_main' %}">Каталог товаров</a>
        </div><div class="top_menu_right">
        {% if not auth %}
            <a class="menu_button" href="{% url 'login' %}">Войти</a>
            <a class="menu_button" href="{% url 'signup' %}">Зарегистрироваться</a>
        {% endif %}
        {% if auth %}
            <p style="font-size: 1em; display: inline-block; color: white; margin: 0 20px 0 20px;">{{ username }}</p>
        {% endif %}
            <a class="menu_button" href="{% url 'cart' %}">Корзина</a>
        {% if auth %}
            <a class="menu_button" href="{% url 'logout' %}">Выйти</a>
        {% endif %}
        </div>
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <div class="footer">
        &nbsp;
    </div>
</body>
</html>