{% extends 'base.html' %}

    {% block content %}
        <h1>Корзина</h1>
        <p>Проверьте выбранные товары. Если хотите изменить количество, то введите нужное значение и
            нажмите "Обновить". Введите "0", если хотите удалить товар из корзины</p>

        {% for product, quantity in cart_list %}
            <form action="" method="POST">
            {% csrf_token %}
                <input type="hidden" name="product_id" value="{{ product.id }}">
                <input type="text" name="product_name" value="{{ product.brand }} {{ product.model }}" disabled>
                <input type="number" name="quantity" value="{{ quantity }}">
                <input type="submit" value="Обновить">
            </form>
        {% endfor %}
        <br/>
        <form action="{% url 'order' %}" method="POST">
            {% csrf_token %}
                <input type="hidden" name="order_post" value="True">
                <input type="submit" value="Создать заказ">
            </form>



    {% endblock %}
