{% extends 'base.html' %}

{% block title %}Просто магазин{% endblock %}

{% block content %}
<div style="text-align: center">
    <div class="medium_form">
    <h1>Корзина</h1>

    {% if not cart_list %}
        <p>Ваша корзина пуста. Отличный повод заглянуть в наш <a href="{% url 'catalogue_main' %}">каталог товаров</a> !</p>
    {% endif %}

    {% if cart_list %}

        <p>Проверьте выбранные товары. Если хотите изменить количество, то введите нужное значение и
            нажмите "Обновить". Введите "0", если хотите удалить товар из корзины</p>

        {% for product, quantity in cart_list %}
            <form action="" method="POST">
            {% csrf_token %}
                <input type="hidden" name="product_id" value="{{ product.id }}">
                <input type="text" name="product_name" value="{{ product.brand }} {{ product.model }}" disabled>
                <input type="number" name="quantity" value="{{ quantity }}">
                <input type="submit" value="Обновить">
            </form>
        {% endfor %}
        <br/>

        {% if auth %}
            <form action="{% url 'order' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="order_post" value="True">
                <p style="text-align: center"><input type="submit" value="Создать заказ" class="add_to_cart"></p>
            </form>
        {% endif %}
        {% if not auth %}
            <p>Чтобы сформировать заказ, пожалуйста, <a href="{% url 'login' %}">авторизуйтесь</a>
                или <a href="{% url 'signup' %}">зарегистрируйтесь</a>. Не волнуйтесь, ваша корзина не пропадет.</p>
        {% endif %}

    {% endif %}
    </div>
</div>
{% endblock %}
