{% extends 'base.html' %}

    {% block content %}
        {% for article in articles %}
            <div>
                <h1><a href="{% url 'article_full' article.id %}">{{ article.name }}</a></h1>
                <div><img src="{{ article.picture.url }}" height="150px" style="display: inline-block;"/></div>
                <div style="display: inline-block;">{{ article.brief|safe }}</div>
            </div>
        {% endfor %}

        <h1><a href="{% url 'catalogue_main' %}">Перейти в каталог товаров</a></h1>
    {% endblock %}