{% extends 'base.html' %}

{% load static %}

{% block title %}Просто магазин{% endblock %}

{% block content %}

    <h1 class="home">Свежие статьи по выбору техники</h1>

    {% for article in articles %}
        <div class="article_home">
            <h2 class="article_home"><a href="{% url 'article_full' article.id %}" class="article_home">{{ article.name }}</a></h2>
            <img src="{{ article.picture.url }}" height="120px" class="article_home"/>{{ article.brief|safe }}
        </div>
    {% endfor %}

    <h1 class="home">Интересные новинки в нашем каталоге</h1>
    {% for product in featured_products %}
        <div class="product_cat">
            <img src="../{{ product.picture.url }}" height="130px" style="float: left;" />
            <a href="{% url 'product_full' product.id %}" class="product_cat">{{ product.brand }} {{ product.model }}</a>
        </div>
    {% endfor %}

{% endblock %}