{% extends 'base.html' %}

{% block title %}Просто магазин{% endblock %}

{% block content %}
<div style="text-align: center">
    <div class="small_form">
        <h2>Вход в систему</h2>
        <form action="/login/" method="post">
            {% csrf_token %}
            {% for field in form %}
                <p>{{ field.label_tag }}</p> {{ field }}
                {{ field.errors }}
            {% endfor %}

            <p style="text-align: center"><input type="submit" value="Войти" class="add_to_cart"></p>
        </form>

        <p>{{ result }}</p>
        <p><a href="/">Вернуться на главную</a></p>
    </div>
</div>
{% endblock %}